body {
  background-color: #282c34
}

.header {
  display: flex;
}

.comment {
  color: white;
  font-size: 40px;
}

.title {
  width: 150px;
}

.input_box {
  margin-left: 10px;
}

.loading_comment {
  color: white;
} 

.coin_list {
  color: white;
}